*
  margin: 0
  padding: 0
body
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: #eee
  line-height: 1.5
  padding: 12px
.content
  padding: 24px
  display: block
  color: #444
  font-weight: 200
  background: #fff
  margin: 12px
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .2)
  border-radius: 4px

li
  list-style-type: square  

h1,h2,h3,h4,h5
  font-weight: 400
